body {
    overflow-x: hidden;
    overflow-y: visible;
  }
  .scroll-btn {
    width: 60px;
    height: 30px;
    font-size: 15px;
    border: none;
    color: white;
    margin-top: 5px;
    
  }
  
  